:root{
    --white:#f7f7f7;
    --gray:#545454;
    --orange: #FF6B08;
}
.footer-container{
    font-family: "Roboto", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    font-size:18px;
    padding: 15px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 0.4fr));
}
.footer-text{
    display:flex;
    align-items: center;
    color: var(--gray);
    gap:10px;
}
.footer-icon{
    
    fill: var(--orange);
    height: 18px;
    width: 18px;
}
.footer-underline{
    text-decoration: underline;
}
