* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --main-white:#FFFFFF;
  --main-orange:#FF6B08;
  --main-gray:#818181;
}

.nav-bar {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 25px 50px;
}

#nav-bg {
  background: url(../images/hero-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  opacity: .90;
}

.logo-container {
  display: flex;
  gap: 15px;
  flex: 1;
}

.logo {
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("../images//film.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.logo-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 35.16px;
  color: var(--main-white);
  z-index: 9;
  margin-left: 50px;
}
.logo-container > a{
  text-decoration: none;
}

.form-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 70px;
  position: relative;
}

.search-form {
  display: flex;
  padding: 2px;
  width: 336px;
  border-bottom: 1px solid var(--main-white);
}

.search-input {
  border: none;
  background: transparent;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  flex: 1;
  color: var(--main-white);
  opacity: 0.7;

  &:focus {
    border-color: transparent;
    outline: none;
    opacity: 1;
  }
}

.search-button {
  width: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("../images/search 2.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}


//mobile screen
@media screen and (max-width: 768px) {
  #nav-bg {
      background: url(../images/hero-bg-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;

    }
  .nav-bar {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 25px 25px;
  }

  .logo {
    color: var(--main-white);
  }

  .logo-text {
    display: none;
  }

  .search-form {
    display: flex;
    padding: 2px;
    width: 100%;
    margin: 0 25px;
    border-bottom: 1px solid var(--main-white);
  }
}

@media screen and (max-width: 768px) {
  #nav-bg {
      background: url(../images/hero-bg-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;

    }
  .nav-bar {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 25px 25px;
  }

  .logo {
    color: var(--main-white);
  }

  .logo-text {
    display: none;
  }

  .search-form {
    display: flex;
    padding: 2px;
    width: 100%;
    margin: 0 25px;
    border-bottom: 1px solid var(--main-white);
  }
}

.tab-form {
  position: relative;
  top: 0;
  left: 0px;
  width: 100%

}
.tab-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.tab-form .tab-header > .tab-links {
  padding: 8px 16px;
  cursor: pointer;
  color: var(--main-white);
}
.tab-form .tab-header > .tab-links{
  text-decoration: none;
  color: var(--main-white);
}
.tab-form .tab-header > .tab-links.active {
  border-bottom: 5px solid var(--main-orange);
}
.tab-form .tab-content {
  overflow: hidden;
}

.tab-form .tab-content > .content {
  position: absolute;
  width: 100%;
  top: -150vh;
  opacity: 0;
  padding: 5px 25px;
  transition: opacity 300ms ease-out 0ms;
}

.tab-form .tab-content > .content.active {
  display: flex;
  justify-content: center;
  gap: 12px;
  top:88px;
  opacity: 1;
  transition: opacity 300ms ease-out 0ms;
}


.tab-form .tab-content > div .form-input input {
  width: 550px;
  margin-top:15px;
  font-size: 15px;
  padding: 8px;
}

.tab-form .tab-content > div .form-input button {
  width: 100%;
  margin-top:10px;
  padding: 8px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #f5f5f5;
  font-weight: 600;
}

.tab-form .tab-header > .logo{
  display: flex;
  width: 100%;
}

.btn{
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid var(--main-white);
  background-color: transparent;
  color: var(--main-white);
  cursor: pointer;
}

.btn:focus{
  background-color: var(--main-orange);
  box-shadow: 0 8px 43px 0 rgba(255, 107, 1, 0.6);
  border: none;
}

.hide{
  display: none;
}