.login-close {
    display: none;

}

.login-modal {
    background-color: rgba(0, 0, 0, 0.9);
    /* opacity: 0; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}




.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: 3px;
    border-color: rgb(255, 255, 255);
    width: 210px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 5px;
    border-radius: 20px;
}