#movie-card{
    max-width: 1024px;
    margin: 0 auto;
}
.movie-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,0.4fr));
    align-items: center;
    justify-content: center;
    grid-gap: 2.5rem;
    margin-top: 1rem;
    
    .movie-card{
        background-color: #fff;
        border-radius: 5px;
        
        .card-img{
            height: 398px;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;    
        }

        .card-details{
            .movie-title{
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1;
            }
            .movie-genre-year{
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 600;
                color: #FF6B08;
                line-height: 1;
            }
        }
    }
}