#movie-card {
  max-width: 1024px;
  margin: 40px auto;
  padding: 0 20px;
}
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 0.4fr));
  justify-content: center;
  grid-gap: 2.5rem;
  margin-top: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  .movie-details {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;

    .card-img {
      height: 398px;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden;
    }

    .movie-info {
      margin-top: 10px;
      .movie-title {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
      }

      .movie-genre,
      .movie-release-date {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;
        color: #ff6b08;
        line-height: 2;
      }
    }
  }
}
