<header id="nav-bg">
  <nav class="nav-bar">
    <div class="logo-container">
      <div class="logo"></div>
      <div class="logo-text">Filmoteka</div>
    </div>
    <div class="menu-links">
      <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="">My Library</a></li>
      </ul>
    </div>
  </nav>
  <div class="form-control-container">
    <form class="search-form" action="">
      <input
        type="search"
        class="search-input"
        name="searchQuery"
        id="searchQuery"
        placeholder="Search..."
      />
      <button type="submit" class="search-button"></button>
    </form>
  </div>
</header>
