<header id="nav-bg">
  <nav class="nav-bar">
    <div class="tab-form">
      <div class="tab-header">
        <div class="logo-container">
          <a class="logo" href="index.html">
            <!-- <svg class="film" width="12" height="12">
                          <use xlink:href="./images/icons.svg#film-icon"></use>
                      </svg> -->
            <span class="logo-text">Filmoteka</span>
          </a>
        </div>
        <div class="tab-links active" href="index.html">Home</div>
        <div class="tab-links hide" id="tab-library">My Library</div>
        <div class="tab-links" id="tab-auth">Log In</div>
      </div>
      <div class="tab-content">
        <div class="form-search content active">
          <div class="form-control-container">
            <form class="search-form" id="search-form">
              <div class="form-input">
                <input
                  type="text"
                  name="searchQuery"
                  id="searchQuery"
                  class="search-input"
                  autocomplete="off"
                  placeholder="Search..."
                />
              </div>
              <button type="submit" class="search-button">
                <svg class="search-logo" width="12" height="12">
                  <use xlink:href="./images/icons.svg#search2"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
        <div class="library content">
          <button class="btn watch active">Watched</button>
          <button class="btn queue">Queue</button>
        </div>
      </div>
    </div>
  </nav>
</header>
