<div class="main-container login-modal" id="loginModal">
  <div class="login-container">
    <form id="RegistrationForm" class="form-container">
      <input
        type="email"
        class="input"
        id="inputEmailRegister"
        placeholder="example@gmail.com"
      />
      <input
        type="password"
        class="input"
        id="inputPasswordRegister"
        placeholder="Password"
      />
      <input
        type="text"
        class="input"
        id="inputFirstName"
        placeholder="First Name"
      />
      <input
        type="text"
        class="input"
        id="inputLastName"
        placeholder="Last Name"
      />

      <button type="submit" class="signUpBtn" id="signUpBtn">SIGN UP</button>
    </form>

    <form id="SignInForm" class="form-container">
      <input
        type="email"
        class="input"
        id="inputEmailSignIn"
        placeholder="example@gmail.com"
      />
      <input
        type="password"
        class="input"
        id="inputPasswordSignIn"
        placeholder="Password"
      />
      <button type="submit" class="signIn" id="signIn">LOG IN</button>
    </form>
  </div>
</div>
