<div class="main-container login-modal hide" id="loginModal">
  <div class="login-container">
    <form id="RegistrationForm" class="form-container">
      <h2>
        Sign Up
      </h2>
      <input
        type="email"
        class="input"
        id="inputEmailRegister"
        placeholder="example@gmail.com"
      />
      <input
        type="password"
        class="input"
        id="inputPasswordRegister"
        placeholder="Password"
      />
      <input
        type="text"
        class="input"
        id="inputFirstName"
        placeholder="First Name"
      />
      <input
        type="text"
        class="input"
        id="inputLastName"
        placeholder="Last Name"
      />

      <button type="submit" class="signUpBtn" id="signUpBtn">SIGN UP</button>

      <button type="button" class="login-open">
        Log In Here
      </button>

      <button type="button" class="register-close">CLOSE</button>
    </form>

    <form id="SignInForm" class="form-container">
      <h2>
        Log In
      </h2>
      <input
        type="email"
        class="input"
        id="inputEmailSignIn"
        placeholder="example@gmail.com"
      />
      <input
        type="password"
        class="input"
        id="inputPasswordSignIn"
        placeholder="Password"
      />
      <button type="submit" class="signIn" id="signIn">LOG IN</button>

      <button type="button" class="register-open">
        Sign Up Here
      </button>
    </form>
  </div>
</div>
