<div class="login">
  <input
    type="email"
    class="input"
    id="inputEmail"
    placeholder="example@gmail.com"
  />
  <input
    type="password"
    class="input"
    id="inputPassword"
    placeholder="Password"
  />
  <button></button>
</div>

<div class="register">
  <input
    type="email"
    class="input"
    id="inputEmail"
    placeholder="example@gmail.com"
  />
  <input
    type="password"
    class="input"
    id="inputPassword"
    placeholder="Password"
  />
  <input type="text" class="input" id="First Name" placeholder="First Name" />
  <input type="text" class="input" id="Last Name" placeholder="Last Name" />
</div>
