<section id="movie-card">
    <div class="movie-cards">
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
        <div class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drame, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </div>
    </div>
</section>