<section id="movie-card">
    <ul class="movie-cards">
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
        <li class="movie-card">
            <img src="./images/test.jpg" alt="Greyhound" class="card-img" />
    
            <div class="card-details">
                <h3 class="movie-title">Greyhound</h3>
                <p class="movie-genre-year">
                    <span class="movie-genre">Drama, Action</span> |
                    <span class="movie-year">2020</span>
                </p>
            </div>
        </li>
    </ul>
</section>