<div class="modal" id="modal">
  <div class="moviecard-modal-content">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-btn__icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="left">
      <img class="modalImage" id="modalImage" />
    </div>
    <div class="right">
      <h1 id="modalMovieTitle" class="modalMovieTitle">TITLE</h1>
      <table class="modalMovieDetails">
        <tbody>
          <tr>
            <td><span>Vote</span></td>
            <td>
              <span
                id="modalMovieVoteAverage"
                class="modalMovieVoteAverage"
              ></span>
              <span id="modalMovieVote" class="modalMovieVote"></span>
            </td>
          </tr>
          <tr>
            <td><span>Popularity</span></td>
            <td>
              <span id="modalMoviePopularity" class="modalMoviePopularity"
                >222</span
              >
            </td>
          </tr>
          <tr>
            <td><span>Original Tittle</span></td>
            <td>
              <span
                id="modalMovieOriginalTitle"
                class="modalMovieOriginalTitle"
              >
                TITLESSDSD
              </span>
            </td>
          </tr>
          <tr>
            <td><span>Genre</span></td>
            <td>
              <span id="modalMovieGenre" class="modalMovieGenre">GENRE</span>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="aboutHeader">About</p>
      <p class="modalMovieAbout" id="modalMovieAbout">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="button-container">
        <button class="movicard-modal-button-watched" id="addToWatchedBtn">
          ADD TO WATCHED
        </button>
        <button class="movicard-modal-button-queue" id="addToQueueBtn">
          ADD TO QUEUE
        </button>
      </div>
    </div>
  </div>
</div>
